# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
env/

# Model output & checkpoints
output/
results/
checkpoint-*/

# Data
data/

# Jupyter
.ipynb_checkpoints/

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
